HF_HOME=E:\Coding\text2Image\.cache\huggingface
TRANSFORMERS_CACHE=E:\Coding\text2Image\.cache\huggingface
HF_HUB_CACHE=E:\Coding\text2Image\.cache\huggingface
PIP_CACHE_DIR=E:\Coding\text2Image\.cache\pip
TORCH_HOME=E:\Coding\text2Image\.cache\torch
